body {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    animation: fadeIn 1.5s ease-in-out;
}


.calculator-box {
    max-width: 300px;
    padding: 20px;
    background-color: #B4B4B8;
    border-radius: 10px;
    margin: auto !important;
}

.view{

    background-color: lightgray;
    border: none;
    max-width: 95%;
    border-radius: 10px;
    font-size: 20px;
}

input{
    
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.buttons{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.clear-button{
   background-color: #B0F586;
}

.calculate-button{
    background-color: #B0F586;
}

button{
    
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px
}
    
    button:hover{
        
        background-color: #E5F6CC;
        font-size: 160%;
    }
    